<?xml version='1.0' encoding='utf-8'?>
<widget id="com.garbomuffin.turbowarp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
     <!-- Allow internet access -->
     <preference name="android-targetSdkVersion" value="33" />
     <allow-intent href="https://*/*" />
     <allow-navigation href="https://turbowarp.org/*" />
     <!-- Fullscreen mode -->
     <preference name="Fullscreen" value="true" />
    <name>TurbowarpMobile</name>
    	<icon src="generic-icon.png" />
    <description>Unofficial Turbowarp port for Android tablets</description>
    <author email="contact@turbowarp.org" href="https://turbowarp.org">
        Garbomuffin
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="orientation" value="landscape" />
</widget>
